.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}


.nopadding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

* {
  box-sizing: border-box;
}
//inlud typist

